:root {
  --color1: #00f0ff;

  --color2: #ff00a6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0d0d0d;
  color: #e0e0e0;
  font-family: 'Share Tech Mono', monospace;
  margin: 0;
  padding: 0;
}
/* .containr-bg{
  background-color: red;
  z-index: -1;
} */
