.skill {
  position: relative;
  height: 15rem;
  width: 15rem;
  background-color: #0d0d0d;
  border-radius: 50%;
}
.card-adj {
}
.skill-discreption {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@property --angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}
@keyframes spinRadar {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
.skill::after {
  content: '';
  position: absolute;
  inset: -15px;
  background: conic-gradient(
    var(--color1) 10%,
    var(--color2) var(--skill-percent, 80%),
    transparent 0%
  );

  border-radius: 50%;
  z-index: -1;
  filter: blur(5px);
}
/* .skill::before {
  content: '';
  position: absolute;
  inset: -15px;
  background: conic-gradient(
    from var(--angle) #00f0ff 10%,
    #ff00a6 50%,
    transparent 0%
  );

  border-radius: 50%;
  border-top: 40px;
  z-index: -1;
  animation: spinRadar 10s linear infinite;
  filter: blur(10px);
} */
